page-mappa {
  #map_canvas {
    height: 100%;
  }

  #activityDetail {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: #ffffff;

    div.image {
      position: absolute;
      height: 100%;
      width: 100px;
      left: 0;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    div.label {
      position: absolute;
      left: 105px;
    }

    div.buttonsBox {
      position: absolute;
      height: 30%;
      left: 105px;
      right: 5px;
      bottom: 5px;
      color: #ffffff;

      div.info {
        position: absolute;
        width: 49%;
        height: 100%;
        bottom: 0;
        left: 0;
        background: url("../../assets/imgs/left-popup-btn.svg") no-repeat center;
        background-size: contain;
        text-align: center;
        margin-right: 1%;
        padding: 5% 0;
      }

      div.vai {
        position: absolute;
        width: 49%;
        height: 100%;
        bottom: 0;
        right: 0;
        background: url("../../assets/imgs/right-popup-btn.svg") no-repeat center;
        background-size: contain;
        text-align: center;
        margin-left: 1%;
        padding: 5% 0;
      }

    }

  }
}
