page-activity {

  ion-grid {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 0 !important;
  }

  ion-row {
    flex: 1;

    img {
      position: relative;
      display: flex;
      height: 100%;
      margin: auto;
      max-width: 100%;
    }

  }

  #activity_map {
    height: 50%;
  }

}
