page-itineraries {

  ion-grid.mainGrid {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 !important;
  }

  ion-grid.mainGrid ion-row.city {
    flex: 1;
  }

  ion-grid.mainGrid ion-row.menu {
    flex: 3;
    background-color: rgba(0,0,0,0.50);
    border-top: 5px solid #000;
  }

  div.cityBox {
    list-style-type: none;
    position: relative;
    height: 8em;
    margin: 8px 16px;
    border-radius: 5px;
    border: solid 1.5px #3d3d3d;
  }

  div.cityBox img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
    max-height: 85%;
  }

  div.cityBox div.labelBox {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 2px;
    background-image: linear-gradient(to bottom, #000000, #3d3d3d);
    color: #ffffff;
  }

  ion-scroll {
    height: 100%;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    position: relative;
    height: 6em;
    margin: 8px 16px;
    border-radius: 5px;
    border: solid 1.5px #3d3d3d;
    background-color: #ffffff;
  }

  li div.image {
    position: absolute;
    max-width: 20%;
    height: 100%;
    border-radius: 5px 0 0 5px;
  }

  li img {
    max-width: 100%;
    max-height: 100%;
  }

  li div.title {
    position: absolute;
    top: 2px;
    left: 22%;
  }

  li div.time {
    position: absolute;
    bottom: 2px;
    left: 22%;
  }


}
