page-help {

  ion-grid {
    display: flex;
    flex-direction: column;
    height: 50%;

    ion-row.text {
      flex: 3;

      ion-textarea {
        height: 100%;

        textarea {
          height: 100%;
          box-shadow: 3px 3px 1px 4px #bbb;
        }
      }
    }

    ion-row.send {
      flex: 1;

      button {
        margin-top: 20px;
      }
    }

  }


}
