page-itinerary {

  #itinerary_map {
    height: 92%;
  }

  #detail {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: #ffffff;

    div.label {
      position: absolute;
      left: 105px;
    }

    div.buttonsBox {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 2%;
      color: #fff;

      ion-segment {
        left: 0;
        width: 60%;
        height: 100%;
      }

      div.vai {
        position: absolute;
        width: 35%;
        height: 100%;
        bottom: 0;
        right: 0;
        background: url("../assets/imgs/right-popup-btn.svg") no-repeat center;
        background-size: contain;
        text-align: center;
        margin-left: 1%;
        padding: 3% 0;
      }

    }

  }

}
