page-itinerary {

  #itinerary_map {
    height: 100%;
  }

  #detail {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #ffffff;

    div.label {
      position: absolute;
      left: 105px;
    }

    div.buttonsBox {
      position: absolute;
      height: 100%;
      left: 105px;
      right: 5px;
      bottom: 2%;
      color: #fff;

      div.vai {
        position: absolute;
        width: 49%;
        height: 100%;
        bottom: 0;
        right: 0;
        background: url("../../assets/imgs/right-popup-btn.svg") no-repeat center;
        background-size: contain;
        text-align: center;
        margin-left: 1%;
        padding: 5% 0;
      }

    }

  }

}
