
<ion-header>

  <ion-navbar>
    <ion-title>{{ filter | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid class="mainGrid">
    <ion-row class="city">
      <ion-col>
        <div class="cityBox">
          <img src="http://lume.morselli.unimore.it/DITA/img/cities/{{city.imgFile}}"/>
          <div class="labelBox">{{ city.pretty_name }}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="searchBar">
      <ion-col>
        <ion-searchbar (ionInput)="getFilteredActivities($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row class="menu">
      <ion-col>
        <div class="nessuncontenuto" *ngIf="activities.length === 0">Nessun contenuto disponibile con questi criteri</div>
        <ion-scroll scrollY="true">
            <ul>
              <li *ngFor="let activity of activities" (click)="onActivityClick(activity)">
                <div class="image">
                  <img src="{{activity.photo_url}}"/>
                </div>
                <div class="title">{{ filterActivityName(activity.display_name) }}</div>
                <div class="category">{{ activity.category | translate }}</div>
                <div *ngIf="activity.isFavourite; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock><img class="favourite" src="assets/imgs/prefer-star-red.svg" (click)="onFavouriteClick($event, activity)"/></ng-template>
                <ng-template #elseBlock><img class="favourite" src="assets/imgs/prefer-star-empty.svg" (click)="onFavouriteClick($event, activity)"/></ng-template>
              </li>
            </ul>
        </ion-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
