page-user {

  ion-grid {
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1.5px #000000;

    ion-row {
      display: flex;
      flex-direction: row;

      ion-col.label {
        flex: 5;

        ion-label {
          width: 75%;
        }
      }

      ion-col.pallini {
        flex: 5;
        padding: 0;
      }

      ion-col > * {
        float: left;
      }
    }
  }


  ion-img.icon {
    width: 23.5px;
    height: 34px;
    background-color: #fff;
  }

  div.pallino {
    float: right;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: solid 1.5px #000000;
    border-radius: 25px;
    margin: 0 3px;
  }

  div.pallino.parks.filled {
    background-color: $parksFilling;
  }

  div.pallino.resting.filled {
    background-color: $restingFilling;
  }

  div.pallino.tree.filled {
    background-color: $treeFilling;
  }

  div.pallino.attractions.filled {
    background-color: $attractionsFilling;
  }

  div.pallino.eating.filled {
    background-color: $eatingFilling;
  }

  div.pallino.lifestyle.filled {
    background-color: $lifestyleFilling;
  }

}
